body {
  background-color:#dff4f3;
}

hr {

border: none;
border-top: 5px dotted grey;
width:5%
}

.tbody h1 {
font-size:3rem;
  color:#66BFBF;
}
h3 {
  color: #11999E;
  font-size:2rem;
}
.ul{
font-size:1.3rem;
}
  
.end{
color:#11999E;}

.hobbies{
  
  color:#11999E;}
.contact{
  
  color:#11999E;}

p{
font-size:1.3rem;
}

.hobbies p{
font-size:1.3rem;
}

.contact li{
font-size:1.3rem;
}

.contact label{
font-size:1.3rem;
}

